- page_title "Contract Settings"
#settingsPage
    .container
        .row
            .col-xs-12
                .panel
                    .panel-body
                        = render partial: "settings/form", locals: {settings: @settings}
