.modal.fade#imageModal
    .modal-dialog.modal-lg
        .modal-content
            .modal-body.text-center
                %img#modalImage{:src => "", :alt => "", class: "img-responsive", style: "margin: 0 auto;"}/
