.modal-dialog.modal-lg
    .modal-content
        .modal-header
            %h3 Add Consignment
        .modal-body
            = render partial: "form", locals: {types: @types, consignment: @consignment}
